<label for="name">
	<f:translate key="tx_pgallery_domain_model_personalgallery.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<!--<label for="link">
	<f:translate key="tx_pgallery_domain_model_personalgallery.link" />
</label><br />
	<f:form.textfield property="link" /><br />
-->
<label for="comment">
	<f:translate key="tx_pgallery_domain_model_personalgallery.comment" />
</label><br />
	<f:form.textarea rows="10" cols="25" property="comment" /><br />
<!--
<label for="var1">
	<f:translate key="tx_pgallery_domain_model_personalgallery.var1" />
</label><br />
	<f:form.textfield property="var1" /><br />
<label for="var2">
	<f:translate key="tx_pgallery_domain_model_personalgallery.var2" />
</label><br />
	<f:form.textfield property="var2" /><br />
<label for="var3">
	<f:translate key="tx_pgallery_domain_model_personalgallery.var3" />
</label><br />
	<f:form.textfield property="var3" /><br />
-->