<table class="tx-pgallery" >
	<tr>
		<td>
			<f:translate key="tx_pgallery_domain_model_personalgallery.name" />
		</td>
		<td>
			{personalGallery.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pgallery_domain_model_personalgallery.link" />
		</td>
		<td>
			{personalGallery.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pgallery_domain_model_personalgallery.comment" />
		</td>
		<td>
			{personalGallery.comment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pgallery_domain_model_personalgallery.var1" />
		</td>
		<td>
			{personalGallery.var1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pgallery_domain_model_personalgallery.var2" />
		</td>
		<td>
			{personalGallery.var2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pgallery_domain_model_personalgallery.var3" />
		</td>
		<td>
			{personalGallery.var3}
		</td>
	</tr>
</table>