<label for="height">
	<f:translate key="tx_pgallery_domain_model_options.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="width">
	<f:translate key="tx_pgallery_domain_model_options.width" />
</label><br />
	<f:form.textfield property="width" /><br />
<label for="count">
	<f:translate key="tx_pgallery_domain_model_options.count" />
</label><br />
	<f:form.textfield property="count" /><br />
<label for="opvar1">
	<f:translate key="tx_pgallery_domain_model_options.opvar1" />
</label><br />
	<f:form.textfield property="opvar1" /><br />
<label for="opvar2">
	<f:translate key="tx_pgallery_domain_model_options.opvar2" />
</label><br />
	<f:form.textfield property="opvar2" /><br />
<label for="opvar3">
	<f:translate key="tx_pgallery_domain_model_options.opvar3" />
</label><br />
	<f:form.textfield property="opvar3" /><br />