<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<link rel="stylesheet" href="{f:uri.resource(path:'CSS/pgallery.css')}" />
<h1>Edit Options</h1>

<div id ="edit_be">

	<f:flashMessages />

	<f:render partial="FormErrors" />
	<div class="back_be_option">
		<f:link.action action="list">
		<f:image src="{f:uri.resource(path:'Icons/arrow-back-outline-64.png')}" width="40" height="40" alt="Back" />
		</f:link.action >
	</div>

	<f:form action="update" name="options" object="{options}" >
		<f:render partial="Options/FormFields" arguments="{options:options}" />
		<br />
		<br />
			<f:form.submit value="Save" />
		<br />
		<br />
	</f:form>
	
</div>
</f:section>