<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<link rel="stylesheet"  href="{f:uri.resource(path:'CSS/pgallery.css')}" />

<div style="float:left;">
	<f:link.action action="list" controller="PersonalGallery">
	<f:image src="{f:uri.resource(path:'Icons/arrow-back-outline-64.png')}" width="40" height="40" alt="Back" />
	</f:link.action >
</div>
	
<h1>Options</h1>

<f:flashMessages />

<table  class="tx_pgallery_be_options" cellspacing="10" cellpadding="15"  align="center" >
	<tr>
		<th><f:translate key="tx_pgallery_domain_model_options.opvar1" /></th>
		<th><f:translate key="tx_pgallery_domain_model_options.count" /></th>
		
<!--		
		<th><f:translate key="tx_pgallery_domain_model_options.height" /></th>
		<th><f:translate key="tx_pgallery_domain_model_options.width" /></th>	
		<th><f:translate key="tx_pgallery_domain_model_options.opvar2" /></th>
		<th><f:translate key="tx_pgallery_domain_model_options.opvar3" /></th>
		<th> </th>
		<th> </th>
-->
	</tr>
	<f:for each="{optionss}" as="options">
		<tr>
			<td><f:link.action action="show" arguments="{options : options}"> {options.opvar1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{options : options}"> {options.count}</f:link.action></td>
	<!--		
			<td><f:link.action action="show" arguments="{options : options}"> {options.height}</f:link.action></td>
			<td><f:link.action action="show" arguments="{options : options}"> {options.width}</f:link.action></td>	
			<td><f:link.action action="show" arguments="{options : options}"> {options.opvar2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{options : options}"> {options.opvar3}</f:link.action></td>		
			
   -->		
			
			
			<td><f:link.action action="edit" arguments="{options : options}">
			<f:image src="{f:uri.resource(path:'Icons/edit.png')}" width="20" height="20" alt="Edit" />
			</f:link.action></td>
			
	<!--	<td><f:link.action action="delete" arguments="{options : options}">Delete</f:link.action></td>     -->	
		</tr>
	</f:for>
</table>

	<!--  <f:link.action action="new">New Options</f:link.action>		 -->	
</f:section>